body,
html {
    background-color: #202020;
    color: white;
}

.chess {
    /*background-color: red;*/
    padding: 0px;
    width: calc(min(80vh, 80vw));
    height: calc(min(80vh, 80vw));
    margin: auto;
}

.grid-container {
    display: grid;
}

.square {
    background-image: url(chessPieces.png);
    background-size: calc(min(80vh, 80vw) / 8 * 6);
    background-position:60% 0%;
}